#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 1000;
}


.name a {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff; 
    text-decoration: none; 
}

.name a:hover {
    color: #ffffff; 
    text-decoration: none; 
}


.pesquisa {
    display: flex;
    background-color: #f8f9fa; 
    border-radius: 5px; 
    padding: 5px; 
    width: 100%;
    margin-left: 80px; 
    max-width: 520px; 
}

.login {
    background-color: #2b2b2b;
    padding: 7px;
    border-radius: 5px;
    margin-right: 150px;
}

.login:hover {
    background-color: #555454; 
    cursor: pointer; 
}

.pesquisa:focus {
    outline: none;
    box-shadow: none; 
}

.img-user {
    margin-right: 10px;
}

.img-carrinho {
    background-color: #1a69c1;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
    margin-left: -150px;
}

.img-carrinho:hover {
    background-color: #1656a5;
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 104px;
    margin-top: 6px;
}

.navegacao {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 90px;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.lista {
    display: flex;
    margin-top: 3px;
    margin-right: 13rem;
    cursor: pointer;
}

.navegacao .lista li  a {
    text-decoration: none;
    color: black; 
    margin-left: 20px;
    font-size: 19px;
    font-weight: 370;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-toggle {
    font-weight: 400 !important;
}

a.dropdown-toggle:hover {
    color: #b3b3b3cc !important;
}

.dropdown-menu a {
    display: block;
    color: #b3b3b3; 
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}


.dropdown-menu a:hover {
    transform: translateX(10px); 
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    margin-top: 19px; 
    margin-right: 20px;
    background-color: white; 
    border: 1px solid #ddd; 
    padding: 20px;
    width: 170px; 
    height: 200px;
    z-index: 1000;
    transition: opacity 0.3s; 
  }
  
  .dropdown-menu.show {
    display: block; 
  }

  .linha {
    display: block;       
    height: 1px;          
    background-color: #ccc; 
    width: 100%;        
    margin: 10px 0;       
  }
  
  











  
  










