.login-container {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30em;
  height: auto;
  margin-top: -200px;
}

.linha {
  display: block;
  height: 2px; 
  width: 100%; 
  background-color: #000;
}

.nameAndImg {
  display: flex;
}

p {
  margin-left: 10px;
}

.formulario {
  margin-top: 20px;
}


.email {
  margin-bottom: 5px;
  margin-left: 2px;
}

.emailCad {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.senha{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.aindaCad {
  margin-left: 241px;
  margin-top: 3px;
  font-size: 15px;
}

.aindaCad:hover
{
  color: #1a69c1;
  cursor: pointer;
}

.jaLogin{
  margin-left: 306px;
  margin-top: 3px;
  font-size: 15px;
}

.jaLogin:hover
{
  color: #1a69c1;
  cursor: pointer;
}


.btnLogin{
  margin-top: 20px;
}

.aindaCad,
.btnLogin {
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
}

.btnCadastro {
  margin-top: 20px;
}

.btnCadastro a{
  text-decoration: none; 
  color: white; 
}


.jaLogin,
.btnCadastro {
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
}


.login-form, .signup-form {
  width: 100%;
  height: auto;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  backface-visibility: hidden;
}

.hidden {
  transform: rotateY(180deg);
  opacity: 0;
}

.visible {
  transform: rotateY(0deg);
  opacity: 1;
}

.signup-form {
  position: absolute;
  transform: rotateY(180deg);
  opacity: 0;
}

.flip {
  transform: rotateY(0deg);
  opacity: 1;
}
