<body>
<h2>Login</h2>
<div class="container">
  <form class="form-container">
    <div class="form-group">
      <div class="input-wrapper">
        <img src="./assets/cadastro-assets/envelope-fill.svg" class="icon" alt="Envelope Icon">
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-wrapper">
        <img src="./assets/cadastro-assets/file-lock2-fill.svg" class="icon" alt="Lock Icon">
        <input type="password" id="password" name="password" placeholder="Senha" required>
      </div>
    </div>
    <button type="submit">Login</button>
    <p class="change-method">Não tem uma conta? <a href="#">Faça cadastro</a></p>
  </form>
</div>
</body>
