<body>
<div class="form-container">
  <header>
    <h2>Cadastro de Jogo</h2>
    <div class="header-buttons">
      <button class="cancel-button">Cancelar</button>
      <button class="save-button">Salvar Jogo</button>
    </div>
  </header>

  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="nome">Nome *</label>
        <input type="text" id="nome" required>
      </div>

      <div class="form-group">
        <label for="categoria">Categoria *</label>
        <select id="categoria" required>
          <option value="" disabled selected>Selecione uma categoria</option>
          <!-- Outras opções -->
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="console">Console *</label>
        <select id="console" required>
          <option value="" disabled selected>Selecione um console</option>
          <!-- Outras opções -->
        </select>
      </div>

      <div class="form-group">
        <label for="plataforma">Plataforma *</label>
        <select id="plataforma" required>
          <option value="" disabled selected>Selecione uma plataforma</option>
          <!-- Outras opções -->
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição *</label>
      <textarea id="descricao" required></textarea>
    </div>

    <div class="form-group">
      <label for="preco">Preço *</label>
      <input type="number" id="preco" required>
    </div>

    <div class="form-group">
      <label for="desconto">Desconto *</label>
      <input type="number" id="desconto" required>
    </div>

    <div class="form-group switch-group">
      <label class="switch-label" for="disponivel">Disponível</label>
      <input type="checkbox" id="disponivel">
    </div>

    <!-- Seção de upload de imagem e visualização -->
    <div class="image-upload-section">
      <label for="image-upload" class="image-upload-label">Adicionar Imagem</label>
      <input type="file" id="image-upload" name="image-upload" accept="image/*">
      <div class="image-preview">
        <!-- Divs pré-prontas para mostrar imagens após salvá-las no backend -->
        <div class="image-placeholder"></div>
        <div class="image-placeholder"></div>
        <div class="image-placeholder"></div>
      </div>
    </div>
  </form>
</div>
</body>
