<div class="form-container">
  <header>
    <h2>Cadastro de Jogo</h2>
    <div class="header-buttons">
      <button class="cancel-button">Cancelar</button>
      <button class="save-button" (click)="save()">Salvar Jogo</button>
    </div>
  </header>

  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="nome">Nome *</label>
        <input type="text" id="nome" [(ngModel)]="jogo.nome" required>
      </div>

      <div class="form-group">
        <label for="categoria">Categoria *</label>
        <select id="categoria" [(ngModel)]="jogo.categorias" required>
          <option value="" disabled selected>Selecione uma categoria</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.categoriasJogo }}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
<!--      <div class="form-group">-->
<!--        <label for="console">Console *</label>-->
<!--        <select id="console" required>-->
<!--          <option value="" disabled selected>Selecione um console</option>-->
<!--          &lt;!&ndash; Outras opções &ndash;&gt;-->
<!--        </select>-->
<!--      </div>-->

      <div class="form-group">
        <label for="plataforma">Plataforma *</label>
        <select id="plataforma" [(ngModel)]="jogo.plataformas" required>
          <option value="" disabled selected>Selecione uma plataforma</option>
          <option *ngFor="let plataforma of plataformas" [value]="plataforma.id">{{ plataforma.nome }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição *</label>
      <textarea id="descricao" [(ngModel)]="jogo.descricao" required></textarea>
    </div>

    <div class="form-group">
      <label for="preco">Preço *</label>
      <input type="number" id="preco" [(ngModel)]="jogo.preco" required>
    </div>

    <div class="form-group">
      <label for="desconto">Desconto *</label>
      <input type="number" id="desconto" [(ngModel)]="jogo.desconto" required>
    </div>

    <div class="form-group switch-group">
      <label class="switch-label" for="disponivel">Disponível</label>
      <input type="checkbox" id="disponivel" [(ngModel)]="jogo.deletado">
    </div>

    <!-- Seção de upload de imagem e visualização -->
    <div class="image-upload-section">
      <label for="image-upload" class="image-upload-label">Adicionar Imagem</label>
      <input type="file" id="image-upload" name="image-upload" accept="image/*">
      <div class="image-preview">
        <div class="image-placeholder"></div>
      </div>
    </div>
  </form>
</div>
