<footer>
    <div class="sobre">
      <h3>Sobre a Loja</h3>
      <p>Informações sobre a loja, sua história, missão e valores.</p>
    </div>
    <div class="pay">
        <h3>Formas de Pagamento</h3>
        <div class="formas">
          <div class="pagamento">
            <img class="visa" src="assets/visa.png" alt="Visa">
          </div>
          <div class="pagamento">
            <img class="master" src="assets/master.png" alt="MasterCard">
          </div>
          <div class="pagamento">
            <img class="elo" src="assets/elo.png" alt="Elo">
          </div>
          <div class="pagamento">
            <img class="hiper" src="assets/hipercard.png" alt="Hipercard">
          </div>
          <div class="pagamento">
            <img class="boleto" src="assets/boleto.png" alt="Boleto">
          </div>
          <div class="pagamento">
            <img class="pix" src="assets/pix.png" alt="Pix">
          </div>
        </div>
      </div>
    <div class="entrega">
      <h3>Formas de Entrega</h3>
      <div class="img-container">
        <img class = "sedex" src="assets/sedex.webp" alt="">
      </div>
    </div>
  </footer>
  