body {
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
  background-image: url("/assets/cadastro-assets/background-body.jpg");
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: linear-gradient(to bottom, #ffffff, #e0e0e0); /* Gradiente de branco para cinza */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 450px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  font-weight: bold; /* Adiciona negrito ao título */
}

.form-container {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group.half-width {
  width: 48%;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  margin-right: 10px; /* Espaçamento entre o ícone e o input */
  filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(100%); /* Ajuste os filtros conforme necessário */
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid gray;
  background-color: black;
  color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 10px; /* Espaçamento entre inputs */
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 12px;
}

input:focus {
  border-color: deepskyblue; /* Cor da borda ao clicar */
  outline: none;
  box-shadow: 0 0 5px deepskyblue; /* Sombra ao clicar */
}

button {
  background-color: deepskyblue;
  color: black;
  padding: 13px 40px; /* Ajusta o tamanho do botão */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 15px auto 0; /* Centraliza o botão horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra do botão */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 14px; /* Diminui o tamanho do texto no botão */
  display: block; /* Faz o botão se comportar como um bloco */
}

button:hover {
  background-color: dodgerblue; /* Cor do botão ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra mais intensa ao passar o mouse */
}

.change-method {
  display: block;
  text-align: center;
  margin-top: 15px; /* Espaço acima do link */
  color: #000000;
}

.change-method a {
  color: #333333;
  text-decoration: none; /* Remove sublinhado */
  font-weight: bold;
}

.change-method a:hover {
  color: #306a79;
  /* Cor ao passar o mouse */
}
