<body>
<h2>Cadastro</h2>
<div class="container">
  <form class="form-container">
    <div class="form-group">
      <div class="input-wrapper">
        <img src="./assets/cadastro-assets/envelope-fill.svg" class="icon" alt="Envelope Icon">
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-wrapper">
        <img src="./assets/cadastro-assets/file-lock2-fill.svg" class="icon" alt="Lock Icon">
        <input type="password" id="password" name="password" placeholder="Senha" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-wrapper">
        <img src="./assets/cadastro-assets/person-fill.svg" class="icon" alt="Person Icon">
        <input type="text" id="firstName" name="firstName" placeholder="Nome" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group half-width">
        <div class="input-wrapper">
          <img src="./assets/cadastro-assets/geo-alt-fill.svg" class="icon" alt="Location Icon">
          <input type="text" id="address" name="address" placeholder="Endereço" required>
        </div>
      </div>
      <div class="form-group half-width">
        <div class="input-wrapper">
          <img src="./assets/cadastro-assets/phone-fill.svg" class="icon" alt="Phone Icon">
          <input type="text" id="tel" name="tel" placeholder="Telefone" required>
        </div>
      </div>
    </div>
    <button type="submit">Cadastrar</button>
    <p class="change-method">Já tem uma conta? <a href="#">Faça login</a></p>
  </form>
</div>
</body>
