/* Definindo o estilo geral do corpo */
body {
  font-family: 'Roboto', sans-serif;
  /* Fonte moderna */
  background-image: url("/assets/cadastro-assets/background-register-form.jpg");
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilo do container do formulário */
.container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 450px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo do título */
h2 {
  text-align: center;
  font-weight: bold;
  /* Adiciona negrito ao título */
}

/* Estilo do formulário */
.form-container {
  padding: 20px;
}

/* Estilo dos grupos de campos */
.form-group {
  margin-bottom: 15px;
}

/* Estilo das linhas de campos lado a lado */
.form-row {
  display: flex;
  justify-content: space-between;
}

/* Estilo dos grupos de campos com largura metade */
.form-group.half-width {
  width: 48%;
}

/* Estilo do contêiner de entrada */
.input-wrapper {
  display: flex;
  align-items: center;
}

/* Estilo dos ícones */
.icon {
  width: 24px;
  /* Ajuste o tamanho do ícone conforme necessário */
  margin-right: 10px;
  /* Espaçamento entre o ícone e o input */
  filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(100%);
  /* Ajuste os filtros conforme necessário */
}

/* Estilo dos campos de entrada */
input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: black;
  color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 10px;
  /* Espaçamento entre inputs */
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 12px;
}

/* Estilo dos campos de entrada em foco */
input:focus {
  border-color: deepskyblue;
  /* Cor da borda ao clicar */
  outline: none;
  box-shadow: 0 0 5px deepskyblue;
  /* Sombra ao clicar */
}

/* Estilo do botão principal */
button {
  background-color: deepskyblue;
  color: black;
  padding: 13px 40px;
  /* Ajusta o tamanho do botão */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 15px auto 0;
  /* Centraliza o botão horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Sombra do botão */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 14px;
  /* Tamanho do texto no botão */
  display: block;
  /* Faz o botão se comportar como um bloco */
}

/* Estilo do botão ao passar o mouse */
button:hover {
  background-color: dodgerblue;
  /* Cor do botão ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  /* Sombra mais intensa ao passar o mouse */
}

/* Estilo do parágrafo que contém o link de login */
.change-method {
  display: block;
  text-align: center;
  margin-top: 15px;
  /* Espaço acima do link */
  color: #b7b7b7;
}

/* Estilo do link de login */
.change-method a {
  color: #fcfcfc;
  text-decoration: none;
  /* Remove sublinhado */
  font-weight: bold;
}

/* Estilo do link ao passar o mouse */
.change-method a:hover {
  color: #ecfc0d;
  /* Cor ao passar o mouse */
}

/* Estilo para ocultar elementos */
.hidden {
  display: none;
}