.produto {
    margin-top: 80px;
    margin-left: 60rem;
}

.nomeProduto {
    color: rgb(102, 100, 100);
}

.codProduto {
    display: flex;
    align-items: center;
    font-size: 1em; /* Ajuste conforme necessário */
}

.idProduto {
    margin-left: 5px; /* Espaço entre "código" e "2545", ajuste conforme necessário */
}
