body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h2 span {
  font-size: 14px;
  color: #777;
}

.compact-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.table th, .table td {
  vertical-align: middle;
  font-size: 15px;
}

.table p {
  font-size: 13px;
}

.table img {
  width: 80px;
  height: auto;
  margin: 8px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.btn-light {
  border: 1px solid #28a745;
  background-color: white;
  color: #28a745;
}

.btn-light:hover {
  background-color: #f2f7f2;
}

.btn-success {
  background-color: #d4edda;
  border: none;
  color: #155724;
  padding: 8px 16px;
}

.btn-success:hover {
  background-color: #c3e6cb;
}

.btn-secondary {
  background-color: rgba(108, 117, 125, 0.2);
  border: none;
  color: #6c757d;
}

.btn-secondary:hover {
  background-color: rgba(108, 117, 125, 0.3);
}

.text-right h4, .text-right h3 {
  margin-bottom: 8px;
}

.text-right p {
  margin-bottom: 4px;
  font-size: 12px;
  color: #555;
}

.form-control-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.col-md-6.text-right button h4 {
  font-size: 10px;
}

.button-group {
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-group button {
  margin-left: 10px;
}

.button-group .btn-light {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.button-group .btn-light:hover {
  background-color: #f2f2f2;
}

.row label {
  font-size: 12px;
}

.row #cupom {
  width: 154px;
  margin: 10px 10px 10px 0;
}

.row #frete {
  width: 185px;
  margin: 10px 10px 10px 0;
}

.btn-danger.delete-btn {
  background-color: rgba(255, 0, 0, 0.2);
  border: none;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-image: url('/assets/carrinho-assets/trash-fill.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  transition: background-color 0.3s ease;
}

.btn-danger.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.4);
}
